body {
    background-color: white;
    color: black;
}
button {
    width: 110px;
    height: 50px;
    border: 5px soldi white;
    border-radius: 50px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    outline: none;
}

#Stopwatch {
    font-size: 80px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -55%);
    }
    #buttons {
        position: absolute;
        top: 55%;
        left: 45.5%;
        transform: translate(-51.6%, -45%);
        }
        #buttons li {
            display: inline;
            padding-left: 70px;
            }